<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
    <title>
      {{ page_title }}
      {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
      {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
    </title>
    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% render 'meta-tags' %}

    <!-- This code imports the correct .js asset files which contain the vue setup ============== -->
    {% liquid
      # theme-check-disable MissingTemplate
      render 'vite-tag' with '/scripts/theme.js'
      case template
        when 'page.contact'
          assign entry_point = template | append: '.js'
        else
          assign entry_point = request.page_type | append: '.js'
      endcase
      render 'vite-tag' with entry_point
      # theme-check-enable MissingTemplate
    %}

    {{ content_for_header }}

    {{ 'styles.css' | asset_url | stylesheet_tag }}

  </head>

  <body>
    <main role="main" tabindex="-1">

      <!-- Header ================================ -->
      <vue-app data-vue="HeaderApp">
        <div class="flex flex-col">
          <div class="relative">
            <div class="text-xl p-4 z-20 bg-zinc-200 border-b-[1px] border-zinc-400 fixed w-full">
              <hello-world msg="Effie Mock Store" />
            </div>

            {% if settings.promotion_enabled %}
              <div class="bg-lapisLazuli text-white text-center z-10 absolute top-0 w-full pt-[4.5em] pb-3">
                {{ settings.promotion_text }}
              </div>
            {% endif %}
          </div>
        </div>
      </vue-app>
      
      <!-- Page Content ================================ -->
      {% capture margin_top_class %}
        {% if settings.promotion_enabled %}
          mt-[7.5em]
        {% else %}
          mt-[4.5em]
        {% endif %}
      {% endcapture %}

      <div class="min-h-screen {{ margin_top_class | strip }}">
        {{ content_for_layout }}
      </div>

      <!-- Footer ================================ -->
      <div class="bg-zinc-200 h-[100px] border-t-2 border-sandyBrown"></div>

    </main>
  </body>

</html>
