<!-- This code imports the correct .js asset files which contain the vue setup ============== -->
{% liquid
  # theme-check-disable MissingTemplate
  render 'vite-tag' with '/scripts/theme.js'
  case template
    when 'page.contact'
      assign entry_point = template | append: '.js'
    else
      assign entry_point = request.page_type | append: '.js'
  endcase
  render 'vite-tag' with entry_point
  # theme-check-enable MissingTemplate
%}

<script>console.log({{ collection.handle | json }})</script>

{% comment %} <vue-app data-vue="CollectionPage"> {% endcomment %}
  
  <div class="py-8 px-20">
    {% render 'filters' %}
    <h2 class="text-3xl my-4 ms-4">{{ collection.title }}</h2>
    <div class="grid grid-cols-8">
      {% for product in collection.products %}
      <div class="col-span-2 my-4 mx-6">
        <a href="/products/{{product.handle}}">
          <img 
            src="{{ product.featured_image | image_url }}"
            height="100%" 
            width="100%" 
            class="w-100" 
          />
          <p class="text-sm text-cafeNoir mt-4 pe-4">{{ product.title }}</p>
          <p class="text-md text-cafeNoir font-semibold">
            {{ product.price  | money}}
          </p>
        </a>
      </div>
    {% endfor %}
    </div>
    {% comment %} <filters /> {% endcomment %}
  </div>
{% comment %} </vue-app> {% endcomment %}